body{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  background-color:bisque;
  padding: 45px;
}


section{
  text-align: left;
}

/* Estilo general de la sección */
section {
  padding: 20px;
}

/* Título de la sección */
section h2 {
  text-align: left;
  font-size: 1.5em;
  margin-bottom: 20px;
  font-weight: bold;
}

/* Contenedor flexible para las obras */
.obras {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

/* Estilo para la sección de obras con ID */
#obras {
  background-color: #fdf6e3;
  padding: 25px;
  border: 1px solid #999;
}
/* Cada figura (imagen + texto) */
figure {
  width: 100%;
  max-width: 220px;
  text-align: center;
  margin: 10px;
}

/* Imagen dentro de la figura */
figure img {
  width: 100%;
  height: auto;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* Pie de imagen */
figcaption {
  margin-top: 8px;
  font-size: 0.95em;
  color: #333;
}
.nota-video {
  font-size: 0.9em;
  color: #555;
  text-align: left;
  font-style: italic;
  margin-top: 10px;
}
.destacado{
  font-weight: bold;
  color: #006699;
}